In [1]:
import scraper

In [4]:
df_13_10, tables = scraper.scrape_sdg_13_10()

In [10]:
df_13_10.xs(tables[0], level="table", axis=1).head()

time,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,100.0,95.6,93.1,91.1,90.9,91.6,93.0,91.7,90.7,89.0,...,77.7,75.1,76.4,76.6,78.7,77.0,73.9,66.1,69.9,69.0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,100.0,101.8,101.6,100.7,104.0,105.6,108.3,103.0,106.5,102.9,...,84.7,80.9,84.1,83.0,83.1,83.8,83.2,75.8,78.4,74.3
3,100.0,78.0,72.2,71.4,66.2,68.1,69.1,64.9,60.3,51.8,...,58.2,60.3,64.8,59.5,61.8,56.4,55.1,47.4,54.9,60.4
4,100.0,89.4,86.3,82.3,78.4,77.7,79.5,77.7,74.7,69.3,...,64.0,62.9,63.7,65.0,66.3,68.2,68.5,64.2,65.5,63.1

In [ ]:
df_07_40 = df_07_40.drop(1, axis=0)
df_07_40.head()

table     REN                                                                  \
time     2004    2005    2006    2007    2008    2009    2010    2011    2012
0       9.605  10.182  10.778  11.749  12.552  13.850  14.405  14.547  16.002
2       1.916   2.325   2.658   3.140   3.611   4.746   6.004   6.302   7.086
3       9.231   9.173   9.415   9.098  10.345  12.005  13.927  14.152  15.837
4       6.773   7.113   7.362   7.895   8.674   9.977  10.513  10.945  12.814
5      14.839  15.955  16.332  17.747  18.543  19.948  21.888  23.389  25.465

table          ... REN_HEAT_CL                                          \
time     2013  ...        2014    2015    2016    2017    2018    2019
0      16.659  ...      19.929  20.307  20.400  20.819  21.604  22.432
2       7.671  ...       7.751   7.942   8.247   8.200   8.290   8.319
3      18.898  ...      28.518  28.903  29.990  29.854  33.250  35.423
4      13.927  ...      19.528  19.787  19.879  19.728  20.642  22.632
5      27.173  ...      38.014  39.536  41.078  44.063  44.968  47.302

table                            country
time     2020    2021    2022
0      22.983  22.932  24.858  EU27_2020
2       8.447   9.225  10.444         BE
3      37.178  30.024  31.668         BG
4      23.535  24.347  25.802         CZ
5      51.073  49.199  50.110         DK

[5 rows x 77 columns]