In [1]:
import scraper

In [2]:
df_07_40, tables = scraper.scrape_sdg_07_40()

In [3]:
df_07_40.xs(tables[0], level="table", axis=1).head()

time,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,9.605,10.182,10.778,11.749,12.552,13.850,14.405,14.547,16.002,16.659,17.416,17.820,17.978,18.411,19.096,19.887,22.038,21.893,23.047
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.916,2.325,2.658,3.140,3.611,4.746,6.004,6.302,7.086,7.671,8.038,8.060,8.744,9.136,9.472,9.929,13.000,13.007,13.759
3,9.231,9.173,9.415,9.098,10.345,12.005,13.927,14.152,15.837,18.898,18.050,18.261,18.760,18.695,20.581,21.545,23.319,19.447,19.095
4,6.773,7.113,7.362,7.895,8.674,9.977,10.513,10.945,12.814,13.927,15.074,15.070,14.926,14.799,15.139,16.239,17.303,17.671,18.195

In [5]:
df_07_40 = df_07_40.drop(1, axis=0)
df_07_40.head()

table     REN                                                                  \
time     2004    2005    2006    2007    2008    2009    2010    2011    2012
0       9.605  10.182  10.778  11.749  12.552  13.850  14.405  14.547  16.002
2       1.916   2.325   2.658   3.140   3.611   4.746   6.004   6.302   7.086
3       9.231   9.173   9.415   9.098  10.345  12.005  13.927  14.152  15.837
4       6.773   7.113   7.362   7.895   8.674   9.977  10.513  10.945  12.814
5      14.839  15.955  16.332  17.747  18.543  19.948  21.888  23.389  25.465

table          ... REN_HEAT_CL                                          \
time     2013  ...        2014    2015    2016    2017    2018    2019
0      16.659  ...      19.929  20.307  20.400  20.819  21.604  22.432
2       7.671  ...       7.751   7.942   8.247   8.200   8.290   8.319
3      18.898  ...      28.518  28.903  29.990  29.854  33.250  35.423
4      13.927  ...      19.528  19.787  19.879  19.728  20.642  22.632
5      27.173  ...      38.014  39.536  41.078  44.063  44.968  47.302

table                            country
time     2020    2021    2022
0      22.983  22.932  24.858  EU27_2020
2       8.447   9.225  10.444         BE
3      37.178  30.024  31.668         BG
4      23.535  24.347  25.802         CZ
5      51.073  49.199  50.110         DK

[5 rows x 77 columns]