In [305]:
import requests
import numpy as np
import pandas as pd

In [306]:
res = requests.get("https://ec.europa.eu/eurostat/api/dissemination/statistics/1.0/data/sdg_07_40?format=JSON&lang=EN")
raw = res.json()

In [307]:
raw

{'version': '2.0',
 'class': 'dataset',
 'label': 'Share of renewable energy in gross final energy consumption by sector',
 'source': 'ESTAT',
 'updated': '2024-04-05T23:00:00+0200',
 'value': {'684': 29.62,
  '685': 31.367,
  '686': 32.07,
  '687': 32.657,
  '688': 32.448,
  '689': 31.437,
  '690': 31.867,
  '691': 31.187,
  '692': 35.152,
  '693': 33.167,
  '694': 31.856,
  '695': 34.913,
  '696': 36.953,
  '697': 35.776,
  '698': 36.572,
  '699': 38.042,
  '700': 45.015,
  '701': 41.389,
  '702': 44.076,
  '399': 22.553,
  '400': 24.353,
  '401': 26.276,
  '402': 28.144,
  '403': 28.788,
  '404': 31.039,
  '405': 31.205,
  '406': 31.552,
  '407': 32.734,
  '408': 32.665,
  '409': 33.55,
  '410': 33.497,
  '411': 33.37,
  '412': 33.136,
  '413': 33.784,
  '414': 33.755,
  '415': 36.545,
  '416': 34.573,
  '417': 33.758,
  '637': 24.873,
  '638': 26.607,
  '639': 25.358,
  '640': 23.241,
  '641': 35.972,
  '642': 37.454,
  '643': 39.835,
  '644': 36.562,
  '38': 1.916,
  '39': 2.325,
  '40': 2.658,
  '41': 3.14,
  '42': 3.611,
  '43': 4.746,
  '44': 6.004,
  '45': 6.302,
  '46': 7.086,
  '47': 7.671,
  '48': 8.038,
  '49': 8.06,
  '50': 8.744,
  '51': 9.136,
  '52': 9.472,
  '53': 9.929,
  '54': 13,
  '55': 13.007,
  '56': 13.759,
  '57': 9.231,
  '58': 9.173,
  '59': 9.415,
  '60': 9.098,
  '61': 10.345,
  '62': 12.005,
  '63': 13.927,
  '64': 14.152,
  '65': 15.837,
  '66': 18.898,
  '67': 18.05,
  '68': 18.261,
  '69': 18.76,
  '70': 18.695,
  '71': 20.581,
  '72': 21.545,
  '73': 23.319,
  '74': 19.447,
  '75': 19.095,
  '266': 3.071,
  '267': 3.131,
  '268': 3.263,
  '269': 4.001,
  '270': 5.131,
  '271': 5.92,
  '272': 6.161,
  '273': 6.245,
  '274': 7.111,
  '275': 8.428,
  '276': 9.144,
  '277': 9.903,
  '278': 9.833,
  '279': 10.478,
  '280': 13.873,
  '281': 13.777,
  '282': 16.879,
  '283': 19.069,
  '284': 19.429,
  '76': 6.773,
  '77': 7.113,
  '78': 7.362,
  '79': 7.895,
  '80': 8.674,
  '81': 9.977,
  '82': 10.513,
  '83': 10.945,
  '84': 12.814,
  '85': 13.927,
  '86': 15.074,
  '87': 15.07,
  '88': 14.926,
  '89': 14.799,
  '90': 15.139,
  '91': 16.239,
  '92': 17.303,
  '93': 17.671,
  '94': 18.195,
  '114': 6.207,
  '115': 7.167,
  '116': 8.466,
  '117': 10.039,
  '118': 10.072,
  '119': 10.851,
  '120': 11.667,
  '121': 12.47,
  '122': 13.549,
  '123': 13.757,
  '124': 14.381,
  '125': 14.901,
  '126': 14.885,
  '127': 15.472,
  '128': 16.66,
  '129': 17.266,
  '130': 19.09,
  '131': 19.395,
  '132': 20.796,
  '95': 14.839,
  '96': 15.955,
  '97': 16.332,
  '98': 17.747,
  '99': 18.543,
  '100': 19.948,
  '101': 21.888,
  '102': 23.389,
  '103': 25.465,
  '104': 27.173,
  '105': 29.31,
  '106': 30.469,
  '107': 31.715,
  '108': 34.387,
  '109': 35.159,
  '110': 37.02,
  '111': 31.681,
  '112': 41.009,
  '113': 41.601,
  '133': 18.42,
  '134': 17.478,
  '135': 16.011,
  '136': 17.139,
  '137': 18.811,
  '138': 23.009,
  '139': 24.575,
  '140': 25.515,
  '141': 25.586,
  '142': 25.356,
  '143': 26.13,
  '144': 28.987,
  '145': 29.232,
  '146': 29.538,
  '147': 29.97,
  '148': 31.73,
  '149': 30.069,
  '150': 37.442,
  '151': 38.472,
  '171': 7.161,
  '172': 7.277,
  '173': 7.458,
  '174': 8.249,
  '175': 8.183,
  '176': 8.731,
  '177': 10.077,
  '178': 11.153,
  '179': 13.741,
  '180': 15.326,
  '181': 15.683,
  '182': 15.69,
  '183': 15.39,
  '184': 17.3,
  '185': 18.001,
  '186': 19.633,
  '187': 21.749,
  '188': 22.017,
  '189': 22.678,
  '190': 8.345,
  '191': 8.444,
  '192': 9.156,
  '193': 9.667,
  '194': 10.744,
  '195': 12.958,
  '196': 13.782,
  '197': 13.176,
  '198': 14.239,
  '199': 15.081,
  '200': 15.879,
  '201': 16.221,
  '202': 17.015,
  '203': 17.118,
  '204': 17.023,
  '205': 17.852,
  '206': 21.22,
  '207': 20.736,
  '208': 22.116,
  '0': 9.605,
  '1': 10.182,
  '2': 10.778,
  '3': 11.749,
  '4': 12.552,
  '5': 13.85,
  '6': 14.405,
  '7': 14.547,
  '8': 16.002,
  '9': 16.659,
  '10': 17.416,
  '11': 17.82,
  '12': 17.978,
  '13': 18.411,
  '14': 19.096,
  '15': 19.887,
  '16': 22.038,
  '17': 21.893,
  '18': 23.047,
  '513': 29.232,
  '514': 28.814,
  '515': 30.043,
  '516': 29.561,
  '517': 31.071,
  '518': 31.045,
  '519': 32.166,
  '520': 32.532,
  '521': 34.222,
  '522': 36.63,
  '523': 38.633,
  '524': 39.23,
  '525': 38.943,
  '526': 40.857,
  '527': 41.185,
  '528': 42.807,
  '529': 43.939,
  '530': 42.854,
  '531': 47.886,
  '209': 9.319,
  '210': 9.272,
  '211': 8.936,
  '212': 9.426,
  '213': 11.188,
  '214': 12.215,
  '215': 12.671,
  '216': 10.813,
  '217': 13.239,
  '218': 13.88,
  '219': 14.362,
  '220': 14.803,
  '221': 15.451,
  '222': 15.847,
  '223': 16.384,
  '224': 17.174,
  '225': 19.109,
  '226': 19.204,
  '227': 20.259,
  '228': 23.404,
  '229': 23.691,
  '230': 22.668,
  '231': 22.161,
  '232': 21.986,
  '233': 23.596,
  '234': 25.103,
  '235': 25.389,
  '236': 26.757,
  '237': 28.04,
  '238': 27.817,
  '239': 28.969,
  '240': 28.266,
  '241': 27.28,
  '242': 28.047,
  '243': 28.466,
  '244': 31.023,
  '245': 31.285,
  '246': 29.354,
  '342': 4.364,
  '343': 6.931,
  '344': 7.433,
  '345': 8.575,
  '346': 8.564,
  '347': 11.673,
  '348': 12.742,
  '349': 13.972,
  '350': 15.53,
  '351': 16.205,
  '352': 14.618,
  '353': 14.495,
  '354': 14.377,
  '355': 13.556,
  '356': 12.548,
  '357': 12.634,
  '358': 13.85,
  '359': 14.134,
  '360': 15.19,
  '152': 2.378,
  '153': 2.822,
  '154': 3.073,
  '155': 3.497,
  '156': 3.979,
  '157': 5.243,
  '158': 5.755,
  '159': 6.605,
  '160': 7.029,
  '161': 7.521,
  '162': 8.516,
  '163': 9.083,
  '164': 9.189,
  '165': 10.52,
  '166': 10.942,
  '167': 11.979,
  '168': 16.16,
  '169': 12.376,
  '170': 13.107,
  '551': 58.899,
  '552': 60.27,
  '553': 60.921,
  '554': 71.925,
  '555': 67.981,
  '556': 70.238,
  '557': 70.909,
  '558': 72.298,
  '559': 73.727,
  '560': 73.787,
  '561': 73.043,
  '562': 71.949,
  '563': 75.329,
  '564': 74.104,
  '565': 77.173,
  '566': 78.612,
  '567': 83.725,
  '568': 80.185,
  '569': 79.475,
  '247': 6.316,
  '248': 7.549,
  '249': 8.328,
  '250': 9.807,
  '251': 11.492,
  '252': 12.775,
  '253': 13.023,
  '254': 12.881,
  '255': 15.441,
  '256': 16.741,
  '257': 17.082,
  '258': 17.525,
  '259': 17.415,
  '260': 18.267,
  '261': 17.796,
  '262': 18.181,
  '263': 20.359,
  '264': 18.883,
  '265': 19.131,
  '304': 17.221,
  '305': 16.768,
  '306': 16.887,
  '307': 16.482,
  '308': 17.824,
  '309': 19.798,
  '310': 19.639,
  '311': 19.943,
  '312': 21.437,
  '313': 22.689,
  '314': 23.592,
  '315': 25.748,
  '316': 25.612,
  '317': 26.038,
  '318': 24.695,
  '319': 25.474,
  '320': 26.773,
  '321': 28.166,
  '322': 29.599,
  '323': 0.899,
  '324': 1.402,
  '325': 1.469,
  '326': 2.725,
  '327': 2.809,
  '328': 2.929,
  '329': 2.851,
  '330': 2.855,
  '331': 3.112,
  '332': 3.494,
  '333': 4.471,
  '334': 4.987,
  '335': 5.364,
  '336': 6.194,
  '337': 8.942,
  '338': 7.046,
  '339': 11.699,
  '340': 11.73,
  '341': 14.356,
  '285': 32.794,
  '286': 32.264,
  '287': 31.141,
  '288': 29.615,
  '289': 29.811,
  '290': 34.317,
  '291': 30.375,
  '292': 33.478,
  '293': 35.709,
  '294': 37.037,
  '295': 38.629,
  '296': 37.538,
  '297': 37.138,
  '298': 39.008,
  '299': 40.019,
  '300': 40.929,
  '301': 42.132,
  '302': 42.098,
  '303': 43.316,
  '647': 35.694,
  '648': 34.842,
  '649': 32.925,
  '650': 32.29,
  '651': 39.371,
  '652': 40.64,
  '653': 40.648,
  '654': 41.513,
  '655': 43.696,
  '656': 44.098,
  '657': 43.073,
  '658': 41.529,
  '659': 39.693,
  '660': 38.801,
  '661': 37.722,
  '662': 43.77,
  '663': 39.891,
  '664': 39.944,
  '665': 15.702,
  '666': 16.466,
  '667': 16.527,
  '668': 14.976,
  '669': 15.555,
  '670': 17.238,
  '671': 16.451,
  '672': 16.407,
  '673': 18.128,
  '674': 18.509,
  '675': 19.559,
  '676': 19.526,
  '677': 18.044,
  '678': 19.636,
  '679': 18.179,
  '680': 17.485,
  '681': 19.222,
  '682': 17.468,
  '683': 18.682,
  '361': 0.102,
  '362': 0.123,
  '363': 0.149,
  '364': 0.177,
  '365': 0.195,
  '366': 0.221,
  '367': 0.979,
  '368': 1.85,
  '369': 2.862,
  '370': 3.76,
  '371': 4.744,
  '372': 5.119,
  '373': 6.208,
  '374': 7.219,
  '375': 7.914,
  '376': 8.23,
  '377': 10.714,
  '378': 12.672,
  '379': 13.404,
  '380': 2.03,
  '381': 2.478,
  '382': 2.778,
  '383': 3.298,
  '384': 3.596,
  '385': 4.266,
  '386': 3.917,
  '387': 4.524,
  '388': 4.659,
  '389': 4.691,
  '390': 5.415,
  '391': 5.714,
  '392': 5.846,
  '393': 6.507,
  '394': 7.394,
  '395': 8.886,
  '396': 13.999,
  '397': 12.988,
  '398': 14.972,
  '570': 58.417,
  '571': 60.069,
  '572': 60.521,
  '573': 60.398,
  '574': 62.003,
  '575': 65.071,
  '576': 61.889,
  '577': 64.638,
  '578': 64.932,
  '579': 66.48,
  '580': 68.406,
  '581': 68.545,
  '582': 69.235,
  '583': 70.036,
  '584': 71.566,
  '585': 74.406,
  '586': 77.358,
  '587': 74.034,
  '588': 75.82,
  '418': 6.882,
  '419': 6.867,
  '420': 6.859,
  '421': 6.903,
  '422': 7.686,
  '423': 8.676,
  '424': 9.281,
  '425': 10.337,
  '426': 10.955,
  '427': 11.452,
  '428': 11.605,
  '429': 11.881,
  '430': 11.396,
  '431': 11.059,
  '432': 14.936,
  '433': 15.377,
  '434': 16.102,
  '435': 15.613,
  '436': 16.879,
  '437': 19.205,
  '438': 19.523,
  '439': 20.792,
  '440': 21.907,
  '441': 22.929,
  '442': 24.405,
  '443': 24.15,
  '444': 24.603,
  '445': 24.574,
  '446': 25.699,
  '447': 29.508,
  '448': 30.514,
  '449': 30.864,
  '450': 30.611,
  '451': 30.203,
  '452': 30.623,
  '453': 33.982,
  '454': 33.982,
  '455': 34.677,
  '456': 16.811,
  '457': 17.571,
  '458': 17.096,
  '459': 18.195,
  '460': 20.204,
  '461': 22.157,
  '462': 22.834,
  '463': 21.743,
  '464': 22.825,
  '465': 23.886,
  '466': 24.845,
  '467': 24.785,
  '468': 25.032,
  '469': 24.454,
  '470': 23.875,
  '471': 24.29,
  '472': 24.478,
  '473': 23.871,
  '474': 24.14,
  '703': 12.724,
  '704': 14.257,
  '705': 14.542,
  '706': 14.327,
  '707': 15.888,
  '708': 21.024,
  '709': 19.763,
  '710': 19.118,
  '711': 20.79,
  '712': 21.095,
  '713': 22.864,
  '714': 21.989,
  '715': 21.147,
  '716': 20.287,
  '717': 20.32,
  '718': 21.443,
  '719': 26.297,
  '720': 25.255,
  '721': 24.67,
  '532': 38.427,
  '533': 39.982,
  '534': 41.734,
  '535': 43.224,
  '536': 43.922,
  '537': 47.024,
  '538': 46.099,
  '539': 47.632,
  '540': 49.403,
  '541': 50.153,
  '542': 51.151,
  '543': 52.22,
  '544': 52.597,
  '545': 53.39,
  '546': 53.916,
  '547': 55.785,
  '548': 60.124,
  '549': 62.686,
  '550': 66.002,
  '475': 18.397,
  '476': 19.809,
  '477': 18.416,
  '478': 19.675,
  '479': 18.646,
  '480': 20.765,
  '481': 21.081,
  '482': 20.937,
  '483': 21.551,
  '484': 23.16,
  '485': 22.459,
  '486': 22.879,
  '487': 21.975,
  '488': 21.658,
  '489': 21.378,
  '490': 21.968,
  '491': 25,
  '492': 25,
  '493': 25.002,
  '494': 6.391,
  '495': 6.36,
  '496': 6.584,
  '497': 7.766,
  '498': 7.723,
  '499': 9.368,
  '500': 9.099,
  '501': 10.348,
  '502': 10.453,
  '503': 10.133,
  '504': 11.713,
  '505': 12.882,
  '506': 12.029,
  '507': 11.465,
  '508': 11.896,
  '509': 16.894,
  '510': 17.345,
  '511': 17.419,
  '512': 17.501,
  '722': 20.541,
  '723': 19.773,
  '724': 19.511,
  '725': 18.812,
  '726': 18.429,
  '727': 18.23,
  '728': 18.23,
  '729': 17.598,
  '730': 18.625,
  '731': 18.823,
  '732': 19.544,
  '733': 18.484,
  '734': 24.472,
  '735': 23.082,
  '736': 24.616,
  '737': 24.215,
  '738': 24.401,
  '739': 22.14,
  '740': 18.779,
  '2166': 69.979,
  '2167': 76.112,
  '2168': 74.208,
  '2169': 79.631,
  '2170': 73.299,
  '2171': 70.714,
  '2172': 74.618,
  '2173': 66.131,
  '2174': 72.427,
  '2175': 62.665,
  '2176': 70.985,
  '2177': 79.222,
  '2178': 82.104,
  '2179': 91.025,
  '2180': 92.45,
  '2181': 92.994,
  '2182': 99.975,
  '2183': 94.421,
  '2184': 102.968,
  '1881': 61.627,
  '1882': 62.901,
  '1883': 63.527,
  '1884': 65.666,
  '1885': 65.88,
  '1886': 68.626,
  '1887': 66.361,
  '1888': 66.779,
  '1889': 67.439,
  '1890': 68.909,
  '1891': 71.059,
  '1892': 71.487,
  '1893': 72.521,
  '1894': 71.626,
  '1895': 74.189,
  '1896': 75.067,
  '1897': 78.204,
  '1898': 73.97,
  '1899': 74.67,
  '2119': 38.394,
  '2120': 38.726,
  '2121': 40.829,
  '2122': 39.564,
  '2123': 41.498,
  '2124': 45.482,
  '2125': 49.308,
  '2126': 46.318,
  '1520': 1.714,
  '1521': 2.386,
  '1522': 3.13,
  '1523': 3.662,
  '1524': 4.625,
  '1525': 6.176,
  '1526': 7.332,
  '1527': 8.989,
  '1528': 11.338,
  '1529': 12.547,
  '1530': 13.414,
  '1531': 15.573,
  '1532': 15.834,
  '1533': 17.214,
  '1534': 18.886,
  '1535': 20.817,
  '1536': 25.122,
  '1537': 26.012,
  '1538': 29.106,
  '1539': 8.358,
  '1540': 8.666,
  '1541': 8.73,
  '1542': 8.899,
  '1543': 9.544,
  '1544': 10.906,
  '1545': 12.358,
  '1546': 12.621,
  '1547': 15.816,
  '1548': 18.682,
  '1549': 18.686,
  '1550': 18.975,
  '1551': 19.147,
  '1552': 19.022,
  '1553': 22.355,
  '1554': 23.509,
  '1555': 23.586,
  '1556': 21.413,
  '1557': 20.235,
  '1748': 0.019,
  '1749': 0.024,
  '1750': 0.034,
  '1751': 0.074,
  '1752': 0.285,
  '1753': 0.589,
  '1754': 1.39,
  '1755': 3.445,
  '1756': 4.927,
  '1757': 6.654,
  '1758': 7.399,
  '1759': 8.445,
  '1760': 8.587,
  '1761': 8.911,
  '1762': 9.357,
  '1763': 9.756,
  '1764': 12.041,
  '1765': 14.84,
  '1766': 16.963,
  '1558': 3.693,
  '1559': 3.782,
  '1560': 4.096,
  '1561': 4.621,
  '1562': 5.182,
  '1563': 6.378,
  '1564': 7.516,
  '1565': 10.61,
  '1566': 11.667,
  '1567': 12.781,
  '1568': 13.89,
  '1569': 14.072,
  '1570': 13.615,
  '1571': 13.654,
  '1572': 13.711,
  '1573': 14.046,
  '1574': 14.81,
  '1575': 14.468,
  '1576': 15.499,
  '1596': 9.436,
  '1597': 10.577,
  '1598': 11.944,
  '1599': 13.727,
  '1600': 15.141,
  '1601': 17.521,
  '1602': 18.241,
  '1603': 20.93,
  '1604': 23.605,
  '1605': 25.284,
  '1606': 28.171,
  '1607': 30.882,
  '1608': 32.273,
  '1609': 34.612,
  '1610': 37.591,
  '1611': 40.604,
  '1612': 44.215,
  '1613': 43.88,
  '1614': 47.637,
  '1577': 23.754,
  '1578': 24.647,
  '1579': 23.966,
  '1580': 25.001,
  '1581': 25.936,
  '1582': 28.257,
  '1583': 32.735,
  '1584': 35.874,
  '1585': 38.716,
  '1586': 43.084,
  '1587': 48.493,
  '1588': 51.292,
  '1589': 53.717,
  '1590': 59.94,
  '1591': 62.394,
  '1592': 65.347,
  '1593': 65.323,
  '1594': 72.916,
  '1595': 77.22,
  '1615': 0.546,
  '1616': 1.127,
  '1617': 1.428,
  '1618': 1.432,
  '1619': 1.972,
  '1620': 5.966,
  '1621': 10.294,
  '1622': 12.199,
  '1623': 15.67,
  '1624': 12.948,
  '1625': 14.017,
  '1626': 16.152,
  '1627': 16.194,
  '1628': 17.583,
  '1629': 19.679,
  '1630': 21.998,
  '1631': 28.293,
  '1632': 29.188,
  '1633': 29.108,
  '1653': 7.842,
  '1654': 8.213,
  '1655': 8.924,
  '1656': 9.33,
  '1657': 9.646,
  '1658': 11.016,
  '1659': 12.307,
  '1660': 13.81,
  '1661': 16.364,
  '1662': 21.241,
  '1663': 21.923,
  '1664': 22.089,
  '1665': 22.657,
  '1666': 24.464,
  '1667': 26.001,
  '1668': 31.295,
  '1669': 35.856,
  '1670': 35.934,
  '1671': 42.408,
  '1672': 19.018,
  '1673': 19.166,
  '1674': 20.027,
  '1675': 21.718,
  '1676': 23.777,
  '1677': 27.882,
  '1678': 29.748,
  '1679': 31.53,
  '1680': 33.438,
  '1681': 36.027,
  '1682': 37.128,
  '1683': 36.972,
  '1684': 36.676,
  '1685': 36.465,
  '1686': 35.236,
  '1687': 37.131,
  '1688': 42.944,
  '1689': 46.001,
  '1690': 50.902,
  '1482': 15.871,
  '1483': 16.402,
  '1484': 16.879,
  '1485': 17.647,
  '1486': 18.526,
  '1487': 20.654,
  '1488': 21.283,
  '1489': 23.3,
  '1490': 25.138,
  '1491': 26.769,
  '1492': 28.601,
  '1493': 29.655,
  '1494': 30.172,
  '1495': 31.104,
  '1496': 32.134,
  '1497': 34.086,
  '1498': 37.408,
  '1499': 37.754,
  '1500': 41.174,
  '1995': 26.711,
  '1996': 26.918,
  '1997': 26.42,
  '1998': 25.468,
  '1999': 26.745,
  '2000': 26.821,
  '2001': 27.216,
  '2002': 28.964,
  '2003': 29.11,
  '2004': 30.543,
  '2005': 31.114,
  '2006': 32.207,
  '2007': 32.716,
  '2008': 35.044,
  '2009': 36.539,
  '2010': 37.969,
  '2011': 39.564,
  '2012': 39.583,
  '2013': 47.925,
  '1691': 13.782,
  '1692': 13.738,
  '1693': 14.058,
  '1694': 14.289,
  '1695': 14.358,
  '1696': 15.088,
  '1697': 14.815,
  '1698': 16.179,
  '1699': 16.548,
  '1700': 16.977,
  '1701': 18.465,
  '1702': 18.821,
  '1703': 19.209,
  '1704': 19.933,
  '1705': 21.131,
  '1706': 22.389,
  '1707': 24.819,
  '1708': 24.775,
  '1709': 27.323,
  '1710': 35.027,
  '1711': 35.184,
  '1712': 34.818,
  '1713': 33.976,
  '1714': 33.865,
  '1715': 35.877,
  '1716': 37.52,
  '1717': 37.592,
  '1718': 38.764,
  '1719': 42.077,
  '1720': 45.241,
  '1721': 45.409,
  '1722': 46.667,
  '1723': 46.437,
  '1724': 48.139,
  '1725': 49.783,
  '1726': 53.816,
  '1727': 53.471,
  '1728': 55.518,
  '1824': 2.22,
  '1825': 4.419,
  '1826': 3.453,
  '1827': 4.193,
  '1828': 5.317,
  '1829': 6.958,
  '1830': 7.103,
  '1831': 6.379,
  '1832': 6.057,
  '1833': 6.6,
  '1834': 7.305,
  '1835': 7.341,
  '1836': 7.292,
  '1837': 7.513,
  '1838': 8.306,
  '1839': 9.969,
  '1840': 11.904,
  '1841': 13.66,
  '1842': 15.342,
  '1634': 6.031,
  '1635': 7.196,
  '1636': 8.505,
  '1637': 9.534,
  '1638': 10.822,
  '1639': 14.061,
  '1640': 15.642,
  '1641': 18.252,
  '1642': 19.838,
  '1643': 20.96,
  '1644': 23.32,
  '1645': 25.725,
  '1646': 27.069,
  '1647': 30.318,
  '1648': 33.317,
  '1649': 36.46,
  ...},
 'id': ['freq', 'nrg_bal', 'unit', 'geo', 'time'],
 'size': [1, 4, 1, 39, 19],
 'dimension': {'freq': {'label': 'Time frequency',
   'category': {'index': {'A': 0}, 'label': {'A': 'Annual'}}},
  'nrg_bal': {'label': 'Energy balance',
   'category': {'index': {'REN': 0,
     'REN_TRA': 1,
     'REN_ELC': 2,
     'REN_HEAT_CL': 3},
    'label': {'REN': 'Renewable energy sources',
     'REN_TRA': 'Renewable energy sources in transport',
     'REN_ELC': 'Renewable energy sources in electricity',
     'REN_HEAT_CL': 'Renewable energy sources in heating and cooling'}}},
  'unit': {'label': 'Unit of measure',
   'category': {'index': {'PC': 0}, 'label': {'PC': 'Percentage'}}},
  'geo': {'label': 'Geopolitical entity (reporting)',
   'category': {'index': {'EU27_2020': 0,
     'EU28': 1,
     'BE': 2,
     'BG': 3,
     'CZ': 4,
     'DK': 5,
     'DE': 6,
     'EE': 7,
     'IE': 8,
     'EL': 9,
     'ES': 10,
     'FR': 11,
     'HR': 12,
     'IT': 13,
     'CY': 14,
     'LV': 15,
     'LT': 16,
     'LU': 17,
     'HU': 18,
     'MT': 19,
     'NL': 20,
     'AT': 21,
     'PL': 22,
     'PT': 23,
     'RO': 24,
     'SI': 25,
     'SK': 26,
     'FI': 27,
     'SE': 28,
     'IS': 29,
     'NO': 30,
     'CH': 31,
     'UK': 32,
     'BA': 33,
     'ME': 34,
     'MK': 35,
     'AL': 36,
     'RS': 37,
     'XK': 38},
    'label': {'EU27_2020': 'European Union - 27 countries (from 2020)',
     'EU28': 'European Union - 28 countries (2013-2020)',
     'BE': 'Belgium',
     'BG': 'Bulgaria',
     'CZ': 'Czechia',
     'DK': 'Denmark',
     'DE': 'Germany',
     'EE': 'Estonia',
     'IE': 'Ireland',
     'EL': 'Greece',
     'ES': 'Spain',
     'FR': 'France',
     'HR': 'Croatia',
     'IT': 'Italy',
     'CY': 'Cyprus',
     'LV': 'Latvia',
     'LT': 'Lithuania',
     'LU': 'Luxembourg',
     'HU': 'Hungary',
     'MT': 'Malta',
     'NL': 'Netherlands',
     'AT': 'Austria',
     'PL': 'Poland',
     'PT': 'Portugal',
     'RO': 'Romania',
     'SI': 'Slovenia',
     'SK': 'Slovakia',
     'FI': 'Finland',
     'SE': 'Sweden',
     'IS': 'Iceland',
     'NO': 'Norway',
     'CH': 'Switzerland',
     'UK': 'United Kingdom',
     'BA': 'Bosnia and Herzegovina',
     'ME': 'Montenegro',
     'MK': 'North Macedonia',
     'AL': 'Albania',
     'RS': 'Serbia',
     'XK': 'Kosovo*'}}},
  'time': {'label': 'Time',
   'category': {'index': {'2004': 0,
     '2005': 1,
     '2006': 2,
     '2007': 3,
     '2008': 4,
     '2009': 5,
     '2010': 6,
     '2011': 7,
     '2012': 8,
     '2013': 9,
     '2014': 10,
     '2015': 11,
     '2016': 12,
     '2017': 13,
     '2018': 14,
     '2019': 15,
     '2020': 16,
     '2021': 17,
     '2022': 18},
    'label': {'2004': '2004',
     '2005': '2005',
     '2006': '2006',
     '2007': '2007',
     '2008': '2008',
     '2009': '2009',
     '2010': '2010',
     '2011': '2011',

In [313]:
def parse_df_from_eurostat(values: dict[str: str], tables: list[str], rows: list[str], cols: list[str], label:str="", col_label:str="") -> list[pd.DataFrame]:
	"""
	Given a dict of indexed scaler values and the label lists, parse into a list of dataframes
	Note: Across all tables, the size (row x col) should be the same!

	:param values: A dict with indexed scaler values, ie {'572': 145.5} where the index is the cell that value occupies
	:param tables: A list of the table labels
	:param rows: A list of row labels
	:param cols: A list of column labels 
	:param label: The optional column label for the row keys
	:param col_label: The optional label for the column header group
	:returns: A dataframe with multiindexes for each table
	"""
	calc_index = lambda i, j, k: k + (j * len(cols)) + (i * (len(cols) * len(rows)))
	data_3d = []
	for i in range(len(tables)):
		data_2d = []
		for j in range(len(rows)):
			builder_row = []
			for k in range(len(cols)):
				if str(calc_index(i, j, k)) in values:
					builder_row.append(values[str(calc_index(i, j, k))])
				else:
					builder_row.append(np.NaN)
			data_2d.append(builder_row)
		data_3d.append(data_2d)
	

	dataframes = []
	for table in data_3d:
		df = pd.DataFrame(table)
		dataframes.append(df)
	
	df = pd.concat(dataframes, axis=1)
	cols = [l[0] for l in cols]
	df.columns = pd.MultiIndex.from_product([tables, cols], names=["table", col_label])
	if label:
		df[label] = [i[0] for i in rows]

	return df

In [314]:
# tables = []
# for stat in raw["dimension"]["statinfo"]["category"]["label"].items():
# 	for unit in raw["dimension"]["unit"]["category"]["label"].items():
# 		tables.append(stat[0] + unit[0])

values = raw["value"]
rows = list(raw["dimension"]["geo"]["category"]["label"].items())
cols = list(raw["dimension"]["time"]["category"]["label"].items())
tables = [i[0] for i in raw["dimension"]["nrg_bal"]["category"]["label"].items()]

In [315]:
df = parse_df_from_eurostat(values, tables, rows, cols, label="country", col_label="time")
df.head()

table    REN                                                                  \
time    2004    2005    2006    2007    2008    2009    2010    2011    2012
0      9.605  10.182  10.778  11.749  12.552  13.850  14.405  14.547  16.002
1        NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
2      1.916   2.325   2.658   3.140   3.611   4.746   6.004   6.302   7.086
3      9.231   9.173   9.415   9.098  10.345  12.005  13.927  14.152  15.837
4      6.773   7.113   7.362   7.895   8.674   9.977  10.513  10.945  12.814

table          ... REN_HEAT_CL                                          \
time     2013  ...        2014    2015    2016    2017    2018    2019
0      16.659  ...      19.929  20.307  20.400  20.819  21.604  22.432
1         NaN  ...         NaN     NaN     NaN     NaN     NaN     NaN
2       7.671  ...       7.751   7.942   8.247   8.200   8.290   8.319
3      18.898  ...      28.518  28.903  29.990  29.854  33.250  35.423
4      13.927  ...      19.528  19.787  19.879  19.728  20.642  22.632

table                            country
time     2020    2021    2022
0      22.983  22.932  24.858  EU27_2020
1         NaN     NaN     NaN       EU28
2       8.447   9.225  10.444         BE
3      37.178  30.024  31.668         BG
4      23.535  24.347  25.802         CZ

[5 rows x 77 columns]

In [316]:
df.xs(tables[0], level=0, axis=1).head()

time,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,9.605,10.182,10.778,11.749,12.552,13.850,14.405,14.547,16.002,16.659,17.416,17.820,17.978,18.411,19.096,19.887,22.038,21.893,23.047
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.916,2.325,2.658,3.140,3.611,4.746,6.004,6.302,7.086,7.671,8.038,8.060,8.744,9.136,9.472,9.929,13.000,13.007,13.759
3,9.231,9.173,9.415,9.098,10.345,12.005,13.927,14.152,15.837,18.898,18.050,18.261,18.760,18.695,20.581,21.545,23.319,19.447,19.095
4,6.773,7.113,7.362,7.895,8.674,9.977,10.513,10.945,12.814,13.927,15.074,15.070,14.926,14.799,15.139,16.239,17.303,17.671,18.195